:root {
  --text: #010402;
  --background: #fbfefc;
  --primary: #4bb9ae;
  --secondary: #c4dae8;
  --accent: #3f7aa2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Play", sans-serif;
  color: var(--text);
  line-height: 1;
  min-height: 100vh;

  background: var(--background);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* GENERAL */

.container {
  width: 110rem;
  padding: 3.2rem 4.8rem 10rem;
  border: 1px solid var(--secondary);
  border-radius: 1.2rem;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.4);

  background-image: linear-gradient(to top, #fffeff 0%, #d7fffe 100%);
}

/* GENERAL LAYOUT */
.grid {
  display: grid;
  row-gap: 6.4rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

/* ELEMENTS */
.primary-heading {
  font-size: 6.4rem;
  background: linear-gradient(to right, var(--primary), var(--accent));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  grid-column: 1 / -1;
  justify-self: center;
}

/* HEADER */
.heading {
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.header-left .header-icn {
  font-size: 3.2rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.heading p:nth-child(2) {
  font-size: 2rem;
}

/* RIGHT  */
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-texts {
  font-size: 3.2rem;
}

.right .message {
  color: var(--accent);
  font-size: 4.8rem;
}

.score-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.highscore-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.highscore-box .trophy-icn,
.score-box .medal-icn {
  color: var(--primary);
}

.input-box {
  display: flex;
  gap: 3.2rem;
  align-items: end;
}

.guess {
  background: rgba(196, 218, 232, 0.5);
  font-family: inherit;
  font-size: 3.2rem;
  padding: 1.2rem;
  width: 10rem;
  text-align: center;

  border: 0.5px solid var(--secondary);
  border-radius: 0.8rem;
}

/* LEFT */

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.secret-number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 25rem;

  background: rgba(196, 218, 232, 0.5);
  border: 0.5px solid var(--secondary);
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}

.secret-number {
  color: var(--primary);
  font-size: 12rem;
}

/* BUTTONS */

.btn {
  font-family: inherit;
  border: none;
  border: none;
  border-radius: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0.8rem 2.4rem;
  cursor: pointer;

  transition: all 0.3s;
}

.again {
  background: rgba(63, 122, 162, 0.5);
}

.again:hover {
  background: var(--accent);
}

.check {
  background: rgba(75, 185, 174, 0.6);
}

.check:hover {
  background: var(--primary);
}

/* Media Querries */
@media screen and (max-width: 1100px) {
  .guess-my-number {
    margin: 0 1.2rem;
  }

  .container {
    width: 85rem;
  }

  .primary-heading {
    font-size: 4.8rem;
  }

  .right .message {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 900px) {
  .guess-my-number {
    margin: 0 1.2rem;
  }

  .grid {
    row-gap: 3.2rem;
  }

  .container {
    width: 70rem;
  }

  .secret-number-box {
    height: 20rem;
    width: 20rem;
  }

  .secret-number {
    font-size: 8rem;
  }

  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 750px) {
  .guess-my-number {
    margin: 0 3.2rem;
  }

  .container {
    width: 60rem;
  }

  html {
    font-size: 48%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 50rem;
  }

  .grid--2--cols {
    column-gap: 2.4rem;
  }

  .primary-heading {
    font-size: 3.2rem;
  }

  .secret-number-box {
    height: 15rem;
    width: 15rem;
  }

  .secret-number {
    font-size: 6.2rem;
  }

  .right .message {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 38rem;
  }

  .grid--2--cols {
    grid-template-columns: 1fr;
  }

  .heading {
    justify-content: center;
    gap: 2.4rem;
  }

  .heading p:nth-child(2) {
    font-size: 1.6rem;
  }

  .primary-heading {
    text-align: center;
  }

  .left {
    gap: 1.8rem;
  }

  .right {
    gap: 1.2rem;
    align-items: center;
  }
}
